.about{
	background-image: url("../image/tree.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	padding: 180px 30%;
}
.about-text{
	background-color: rgba(0,0,0,0.75);
	text-align: center;
	color: white;
	padding: 30px;
}
.about-text h1{
	font-family: 'Lora', serif;
	font-size: 40px;
}
.about-text h3{
	font-family: 'Lora', serif;
	font-size: 30px;	
}
.detail{
	background-color: #f4f4f4;
}
.description{
	padding: 40px 6%;
	text-align: center;
	font-family: 'Courgette', cursive;
}
.trio{
	padding: 0px 20px;
	border: 1px solid #5e941f;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0px rgba(0, 0, 0, 0.19);
	transition: 0.8s;
}
.trio:hover{
	transform: scale(1.1);
	background-color: #fff;
}
.trio h3{
	text-align: center;
	font-family: 'Bree Serif', serif;
	color: #5e941f;
}
.trio i{
	font-size: 50px;
	margin: 30px 0px;
}
.trio p{
	text-align: center;
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
}
.story h1{
	text-align: center;
	font-family: 'Bree Serif', serif;
	color: #5e941f;
	margin: 46px;
}
.story p{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
	font-size: 18px;
	text-align: justify;
}
.short-line{
	height: 1px;
	background-color: gray;
	width: 38%;
	margin-bottom: 46px;
}
