.each-member{
	padding: 5px 0px;
}
.member-media{
	display: inline-block;
	float: right;
	font-size: 16px;
	margin: auto;
	padding-left: 10px;
	padding-right: 12px;
}
.member-media li{
	width: 30px;
	height: 30px;
	float: left;
	list-style: none;
	margin-right: 12px;
	text-align: center;
	border: 1.5px solid #ccc;
	border-radius: 30%;
	font-size: 16px;
	padding-top: 2px;
}
.member-media a:hover{
	text-decoration: none;
}
.member-media li:hover{
	background-color: #99c72f;
}
.member-media i{
	color: #000;
}
.member-media i:hover{
	color: #fff;
}
.member-pic{
	padding: 0px 10px;
	background-color: #98bc6f;
	overflow: hidden;
}
.member-pic img{
	transition: 0.5s;
}
.member-pic img:hover{
	transform: scale(1.2);
}
.member-content{
	border-left: 2px solid #ccc;
	border-bottom:2px solid #ccc;
	border-right: 2px solid #ccc;
	padding-bottom: 8px;
}
.member-content h5{
	font-family: 'Bree Serif', serif;
	text-align: center;
}
.member-content h6{
	font-family: 'Bree Serif', serif;
	text-align: center;	
}
.member-content a{
	color: black;
}
.member-content a:hover{
	color: #5e941f;
	text-decoration: none;
}