.sidebar {
  height: 116vh;
  overflow: all;
  position: sticky;
  top: 10%;
}
.main {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.pop{
	margin-bottom: 10px;
}
.pop-post{
	margin-top: 10px;
}
.pop-post p{
	font-size: 14px;
	font-family: 'Bree Serif', serif;
	color: gray;
}
.pop-text a{
	color: #000;
}
.pop-text a:hover{
	color: #5e941f;
	text-decoration: none;
}
.blog-image{
	overflow: hidden;
}
.blog-image img{
	transition: 0.5s;
}
.blog-image img:hover{
	overflow: hidden;
	transform: scale(1.2);
}
.blog-text{
	padding: 10px 0px;
}
.blog-text h1{
	font-family: 'Bree Serif', serif;
}
.blog-text h4,h6{
	font-family: 'Bree Serif', serif;
}
.blog-text p{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
	margin-bottom: 0px;
}
.blog-text a{
	text-decoration: none;
	color: #5e941f;
	font-weight: bold;
}
.blog-text a:hover{
	border-bottom: 1px solid #5e941f;
}
.showmore{
	width: 100%;
	padding-top: 6px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Bree Serif', serif;
	border:1.5px solid #5e941f;
	background-color: transparent;
	line-height: 14px;
	color: #5e941f;
}
.showmore:hover{
	background-color: #5e941f;
	color: #fff;
}
.login h5{
	font-family: 'Teko', sans-serif;
	font-size: 24px;
	margin: 14px 0px;
	text-align: center;
}
.title2{
	background-color: #5e941f;
	font-size: 22px;
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: #fff;
	padding: 5px;
	border: 1.5px solid #5e941f;
}
.input{
	width: 100%;
	height: 40px;
	padding-left: 7px;
	margin-bottom: 12px;
}
.btnLogin{
	background-color: white;
	width: 100%;
	height: 40px;
	color: #5e941f;
	font-family: 'Teko', sans-serif;
	font-size: 24px;
	border: 1px solid #5e941f;
}
.btnLogin:hover{
	background-color: #5e941f;
	color: #fff;
	border-color: #eaeae9;
}

@media (max-width: 1000px){
	.sidebar{
		height: 200vh;
	}
}
@media (max-width: 950px){
	.sidebar{
		height: 200vh;
	}
}
@media (max-width: 800px){
	.sidebar{
		height: 180vh;
	}
}
@media (max-width: 750px){
	.sidebar{
		height: 220vh;
	}
}
@media (max-width: 576px){
	.sidebar{
		height: 310vh;
	}
}