.contact{
	margin-top: 28px;
	background-image: url("../image/back1.jpg");
  	background-size: cover;
	width: 76%;
	height: 600px;
	padding: 3% 7%;
	position: relative;
}
.contact:hover > div#left{
	opacity: 0;
}
.contact:hover > div.after-left{
	opacity: 1;
}
.contact:hover > div.right-side{
	opacity: 1;
}
.contact:hover > div.welcome{
	opacity: 0;
}
.left-side{
	float: left;
	width: 50%;
	height: 100%;
	padding: 13% 10%;
	background-color: rgba(255,255,255,0.7);
	opacity: 1;
	transition: 0.25s;
}
.left-side:hover{
	opacity: 0;
}
.left-side h1{
	font-family: 'Lora', serif;
	font-weight: bold;
	margin-bottom: 24px;
}
.left-side h5{
	margin: 10px;
	font-family: 'Lora', serif;
	font-weight: bold;
}
.left-side h6{
	margin-top: 25%;
	font-size: 26px;
	font-family: 'Lora', serif;
	font-weight: bold;	
}
.member-media{
	display: inline-block;
	float: right;
	font-size: 16px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.member-media li{
	width: 40px;
	height: 40px;
	float: left;
	list-style: none;
	margin-right: 12px;
	text-align: center;
	border: 1.2px solid #000;
	border-radius: 30%;
	font-size: 24px;
}
.member-media i{
	color: #000;
}
.after-left{
	position: absolute;
	top: 40%;
	left: 4%;
	opacity: 0;
	transition: 0.25s;
}
.after-left h5{
	font-family: 'Lora', serif;
	font-weight: bold;
}
.right-side{
	float: right;
	width: 50%;
	height: 100%;
	padding: 13% 8%;
	background-color: white;
	opacity: 0;
	transition: 0.25s;
}
.right-side h1{
	font-family: 'Lora', serif;
	font-weight: bold;
	margin-bottom: 18px;
}
.right-side input{
	width: 100%;
	font-family: 'Bree Serif', serif;
	padding-left: 5px;
	margin-bottom: 8px;
}
.right-side textarea{
	width: 100%;
	height: 100px;
	padding-left: 5px;
	margin: 0px;
	font-family: 'Bree Serif', serif;
}
.right-side button{
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	color: white;
	background-color: black;
	margin-top: 0px;
	padding: 10px 40px;
	transition: 0.3s;
}
.right-side button:hover{
	transform: scale(1.1);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4), 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}
.short-line{
	height: 1px;
	background-color: black;
	width: 46%;
	margin-bottom: 20px;
}
.welcome{
	position: absolute;
	top: 38%;
	right: 21%;
}
.welcome h2{
	transition: 0.25s;
	font-size: 60px;
	font-family: 'Satisfy', cursive;
}
.ig{
	color: white;
	background-color: black;
	font-size: 24px;
	padding: 8px 13px;
	border-radius: 10px;
}
.yt,.gp{
	color: white;
	background-color: black;
	font-size: 22px;
	padding: 10px 13px;
	border-radius: 10px;
}
.fb{
	color: white;
	background-color: black;
	font-size: 22px;
	padding: 10px 19px;
	border-radius: 10px;
}
.fb:hover{
	color: white;
	text-decoration: none;
	background-color: #4267B2;
}
.ig:hover{
	color: white;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.yt:hover{
	color: white;
	background-color: #ff0000;
}
.gp:hover{
	color: white;
	background-color: #db4a39 ;
}