html {
	scroll-behavior: smooth;
}
img{
	width: 100%;
	height: 100%;
}
hr{
	margin: 0px;
	width: 90%;
	line-height: 5px;
}
.container{
	max-width: 90%!important;
}
.logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	height: 100px;
	width: 300px;
}
.mini-logo{
	height: 28px;
	width: 80px;
}
.nav-link{
	padding-top: 3px!important;
	padding-bottom: 3px!important;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
}
.nav-link:hover{
	transition: 0.5s;
	color: #5e941f!important;
	border-top: 2px solid #5e941f;
	border-bottom: 2px solid #5e941f;
}
.active-link{
	color: #5e941f!important;
	border-top: 2px solid #5e941f;
	border-bottom: 2px solid #5e941f;	
}
.btn{
	font-family: 'Bree Serif', serif;
}
.btn:hover{
	background-color: #9ec54e!important;
}
.form-control{
	font-family: 'Bree Serif', serif;
	color: gray;
}
.menu li{
	float: left;
	list-style: none;
	padding-right: 16px;
	margin-right: 16px;
	border-right: 2px solid #b9baba;
	font-family: 'Big Shoulders Display', cursive;
	letter-spacing: 1px;
}
.menu li:last-child{
	border-right: 0px;
}
.title{
	background-color: #eaeae9;
	font-size: 22px;
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: #6a6a6a;
	padding: 5px;
}
.line{
	width: 30%;
	height: 2px;
	margin: 20px 0px;
	background-color: gray;
}
.line2{
	width: 50%;
	height: 2px;
	margin: 20px 0px;
	background-color: gray;

}.footer{
	background-color: #eaeae9;
	margin-top: 48px;
}
.footer-media{
	margin: auto;
	padding: 28px;
}
.footer-media a{
	text-decoration:none;
	font-family: 'Girassol', cursive;
	color: #000;
	letter-spacing: 1px;
}
.footer-media ul{
	margin: 0px;
}
.footer-media li{
	display: inline;
	list-style: none;
	margin-right: 50px;
	text-align: center;
}
.footer-media a:hover{
	color: #83b14e;
}
.footer-media last-child{
	margin-right: 50px;
}
.conclusion{
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.conclusion img{
	width: 140px;
}
.conclusion h6{
	margin-top: 5px;
	font-family: 'Pacifico', cursive;
}
.conclusion h5{
	font-family: 'Courgette', cursive;
}	
.backtop{
	background-color: transparent;
	border: none;
	font-size: 18px;
	font-family: 'Dancing Script', cursive;
	line-height: 16px;
}
.backtop:hover{
	color: #83b14e;
}
