.what-zerow{
	text-align: center;
	padding: 20px 15%;
	color: #6f6f6f;
	margin: 40px 0px;
	background-color: #b6d691;
}
.what-zerow h3{
	font-family: 'Pacifico', cursive;
}
.what-zerow h4{
	font-family: 'Courgette', cursive;
}
.intro-content{
	margin-top: 18px;
	padding-bottom: 15px;
}
.intro-content h2{
	font-family: 'Bree Serif', serif;
}
.intro-content h6{
	font-family: 'Bree Serif', serif;
	color: #8f9091;
	font-size: 16px;
}
.intro-content p{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}
.intro-content a{
	text-decoration: none;
	color: #5e941f;
	font-weight: bold;
}
.intro-content a:hover{
	border-bottom: 1px solid #5e941f;
}
.image-about{
	margin-top: 18px;
	padding: 0px 30px;
}
.image-about img{
	width: 100%;
	height: auto;
	border-radius: 50%;
	border: 3px solid #eaeae9;
}
.image-about h3{
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: #6a6a6a;
	margin-top: 15px;
}
.image-about p{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
}
.follow{
	padding: 10px;
}
.media{
	margin: 10px 0px;
}
.find-us{
	display: inline-block;
	float: right;
	font-size: 16px;
	margin: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 12px;
}
.find-us li{
	width: 55px;
	height: 55px;
	float: left;
	list-style: none;
	padding-top: 5px;
	padding-left: 1px;
	margin-right: 16px;
	text-align: center;
	border: 2px solid #e9e9e9;
	border-radius: 50%;
	font-size: 28px;
}
.find-us a:hover{
	text-decoration: none;
}
.find-us li:hover{
	background-color: #98bc6f;
}
.find-us i{
	color: #000;
}
.find-us i:hover{
	color: #fff;
}
.each-member{
	padding: 16px 0px;
}
.member-media{
	display: inline-block;
	float: right;
	font-size: 16px;
	margin: auto;
	padding-left: 10px;
	padding-right: 12px;
}
.member-media li{
	width: 30px;
	height: 30px;
	float: left;
	list-style: none;
	margin-right: 12px;
	text-align: center;
	border: 1.5px solid #ccc;
	border-radius: 30%;
	font-size: 16px;
	padding-top: 2px;
}
.member-media a:hover{
	text-decoration: none;
}
.member-media li:hover{
	background-color: #99c72f;
}
.member-media i{
	color: #000;
}
.member-media i:hover{
	color: #fff;
}
.member-pic{
	padding: 0px 14px;
	background-color: #98bc6f;
	overflow: hidden;
}
.member-pic img{
	transition: 0.5s;
}
.member-pic img:hover{
	transform: scale(1.2);
}
.member-content{
	border-left: 2px solid #ccc;
	border-bottom:2px solid #ccc;
	border-right: 2px solid #ccc;
}
.member-content h5{
	font-family: 'Bree Serif', serif;
	text-align: center;
}
.member-content h6{
	font-family: 'Bree Serif', serif;
	text-align: center;	
}
.member-content a{
	color: black;
}
.member-content a:hover{
	color: #5e941f;
	text-decoration: none;
}
.quote{
	margin-top: 20px;
	padding: 20px;
	background-color: #98bc6f;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
.pic-quote img{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.quote-text{
	font-family: 'Bree Serif', serif;
	color: white;
}
.quote-text p{
	margin: 0px;
}
.quote2{
	margin-top: 20px;
	padding: 20px;
	background-color: #eaeae9;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
}
.pic-quote2 img{
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.quote-text2{
	color: #709644;
	text-align:right;
	font-family: 'Bree Serif', serif;
}
.line3{
	height: 2px;
	background-color: white;
	width: 18%;
	margin-top: 17px;
	margin-bottom: 15px;
}
.line4{
	height: 2px;
	background-color: #709644;
	width: 18%;
	margin-top: 17px;
	margin-bottom: 15px;
	display: inline-block;
}
.sidebar {
  height: 200vh;
  overflow: all;
  position: sticky;
  top: 10%;
}
.main {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.instagram{
	margin-top: 12px;
}
.instagram img{
	position: relative;
}
.insta-text{
	position: absolute;
	bottom: 1px;
	color:black;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	height: 100%;
	opacity: 0;
}
.insta-text h6{
	text-align:center;
	position: relative;
	letter-spacing: 1px;
	top: 80%;
	font-weight: bold;
}
.instgram img,.insta-text:hover{
	transition: 0.3s;
	opacity: 1;
}
.padd{
	padding: 1px!important;
}
@media (max-width: 1000px){
	.sidebar{
		height: 235vh;
	}
}
@media (max-width: 800px){
	.sidebar{
		height: 310vh;
	}
}
@media (max-width: 750px){
	.sidebar{
		height: 300vh;
	}
}
@media (max-width: 576px){
	.sidebar{
		height: 230vh;
	}
}