.container-fluid{
	max-width: 97%;
}
.vid-img{
	margin-top: 20px;
	position: relative;
}
.vid-img a{
	color: white;
}
.minute{
	position: absolute;
	color: white;
	bottom: 8px;
  	right: 8px;
  	z-index: 2;
}
.play{
	color: white;
	position: absolute;
	font-size: 40px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 3;
}
.on-vid{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 1;
	color: white;
}
.on-vid h2{ 
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 40px;
}
.on-vid:hover{
	opacity: 1;
}	
.vid-text{
	padding: 10px 5px;
}
.vid-text h6{
	color: #5e941f;
}
.vid-text h5{
	font-family: 'Bree Serif', serif;
}
.vid-text h2{
	font-family: 'Bree Serif', serif;
}
.vid-text p{
	font-family: 'Comic Neue', cursive;
	font-weight: bold;
}
.showmore{
	width: 75%;
	padding-top: 6px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Bree Serif', serif;
	border:1.5px solid #5e941f;
	background-color: transparent;
	line-height: 14px;
	color: #5e941f;
}
.showmore:hover{
	background-color: #5e941f;
	color: #fff;
}